{% load static %}
<!-- MAIN FOOTER -->

<footer class="mt-4 bg-gradient-to-r from-white via-gray-500 to-gray-900 sticky-bottom">

    <!-- NEWSLETTER
    <section class="bg-white">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md sm:text-center">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Sign up for our newsletter</h2>
                <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-xl">Stay up to date with the roadmap progress, announcements and exclusive discounts feel free to sign up with your email.</p>
                <form action="#">
                    <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                            <div class="relative w-full">
                            <label for="email" class="hidden mb-2 text-sm font-medium text-gray-900">Email address</label>
                            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                            </div>
                            <input class="block p-3 pl-10 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500" placeholder="Enter your email" type="email" id="email" required="">
                            </div>
                            <div>
                            <button type="submit" class="py-3 px-5 w-full text-sm font-medium text-center rounded-lg border cursor-pointer bg-primary-700 border-primary-600 sm:rounded-none sm:rounded-r-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300">Subscribe</button>
                            </div>
                    </div>
                    <div class="mx-auto max-w-screen-sm text-sm text-left text-gray-500 newsletter-form-footer">We care about the protection of your data. <a href="#" class="font-medium text-primary-600 hover:underline">Read our Privacy Policy</a>.</div>
                </form>
            </div>
        </div>
    </section> -->

    <div class="container px-6 py-4 mx-auto">
        <div class="lg:flex">
            <div class="w-full -mx-6 lg:w-2/5">
                <div class="px-6">
                    <div>
                        <a href="#" class="text-xl font-bold text-gray-800 hover:text-gray-700">Sips Solutions</a>
                    </div>
                    
                    <p class="max-w-md mt-2 text-gray-500">Shop with use the latest, quality products and more.</p>
                    
                    <div class="flex space-x-1 mt-4 -mx-2">
                        {% for social in social_urls %}
                            <a href="{{ social.url }}" target="_blank"><i class="text-gray-700 hover:text-red-400 fa-brands fa-{{ social.name }}"></i></a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mt-6 lg:mt-0 lg:flex-1">
                <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4">
                    <div>
                        <h3 class="text-gray-300 uppercase">Get Help</h3>
                        <a href="/contact/placeorder" class="block mt-2 text-sm text-gray-200 hover:underline">How to Place Order</a>
                        
                        <a href="/contact/helpcenter" class="block mt-2 text-sm text-gray-200 hover:underline">Help Center</a>
                        <a href="/contact/contactus" class="block mt-2 text-sm text-gray-200 hover:underline">Contact Us</a>
                    </div>

                    <div>
                        <a  href="/blog/mainblog" class="text-gray-200 uppercase">Blog</a>
                        <!-- <a href="#" class="block mt-2 text-sm text-gray-600 hover:underline">Trending Art Items</a>
                        <a href="#" class="block mt-2 text-sm text-gray-600 hover:underline">Top seller in Kenya</a>
                        <a href="#" class="block mt-2 text-sm text-gray-600 hover:underline">Best Deco</a> -->
                    </div>

                    <div>
                        <h3 class="text-gray-300 uppercase">Products</h3>
                        <a href="/store/products/furniture" class="block mt-2 text-sm text-gray-400 hover:underline">FURNITURE</a>
                        <a href="/store/products/art" class="block mt-2 text-sm text-gray-400 hover:underline">ART</a>
                        <a href="/store/products/deco" class="block mt-2 text-sm text-gray-400 hover:underline">DECO</a>
                        <a href="/store/products/home-kitchen" class="block mt-2 text-sm text-gray-400 hover:underline">HOME KITCHEN</a>
                    </div>

                    <div>
                        <a href="/contact/contactus"><h3 class="text-gray-300 uppercase">Contact</h3></a>
                        <span class="block mt-2 text-sm text-gray-400 hover:underline">+254 720 650 146</span>
                        <span class="block mt-2 text-sm text-gray-400 hover:underline">example@email.com</span>
                    </div>
                </div>
            </div>
        </div>

        <hr class="h-px my-6 bg-gray-300 border-none">

        <div>
            <p class="text-center text-gray-200">© Sips Solutions <em id="date"></em> - All rights reserved</p>
            <p class="text-center text-sm text-gray-200">Created by GreenBear Technologies</p>
        </div>
    </div>
    <script type="">
        var today = new Date();
        var date = today.getFullYear();
        document.getElementById("date").innerHTML = date;
    </script>
</footer>
