{% load static %}

<header class="sticky-top">
    <!-- BLACK BACKGROUND -->
    <div class="bg-gradient-to-r from-white via-gray-500 to-gray-900 hidden lg:block relative">
        <div class="flex justify-between py-2 px-4">

            <!-- PHONE NUMBER -->
            <div class="text-gray-600">
                <a href="tel:+254720650146" target="_blank" class="py-4 text-md font-semibold"><i class="mr-2 fa-solid fa-phone"></i>Call Us +254720650146</a>
            </div>

            <!-- SOCIALS -->
            <div class="hidden text-gray-200 md:flex space-x-2">
            
                {% for social in social_urls %}
                    <a href="{{ social.url }}" target="_blank"><i class="hover:text-red-400 fa-brands fa-{{ social.name }}"></i></a>
                {% endfor %}
            </div>

            
            <div class="text-gray-200 flex space-x-4">
                <!-- ACCOUNTS -->
                {% if user.id is None %}
                <p
                    {% if 'login' in request.path %}
                    class = "text-red-400"
                    {% else %}
                    class = "text-white hover:text-red-400"
                    {% endif %}
                >
                <a href="{% url 'login' %}"><i class="fa-solid fa-user pr-1"></i>Sign In</a></p>

                {% else %}
                
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="capitalise">
                    <i class="fa-solid fa-user"></i>
                    Hi, {{ user.first_name }}!
                    <i class="pl-0.5 fa-solid fa-chevron-down"></i>
                </button>

                <div id="dropdown" class="bg-white flex flex-col w-44 hidden z-50">
                    
                    <a href="{% url 'userpage' %}" class="text-black text-sm p-1 hover:bg-gray-200"><i class="fa-solid fa-user pr-1"></i>My Account</a>
                    <a href="{% url 'user_orders' %}" class="text-black text-sm p-1 hover:bg-gray-200"><i class="fa-solid fa-bag-shopping pr-1"></i>Orders</a>
                    <a href="{% url 'wishlist' %}" class="text-black text-sm p-1 hover:bg-gray-200"><i class="fa-solid fa-heart pr-1"></i>Saved Items</a>

                    <a href="{% url 'logout' %}" class="border-t-2 border-black mt-3 text-sm text-black uppercase p-1 text-center hover:text-red-400 hover:font-medium">Logout</a>
                </div>
                {% endif %}
                
                <!-- THE DASHBOARD BUTTON -->
                {% if user.is_admin %}
                <a href="/admin" target="_blank" class="text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium text-sm px-4 rounded py-1">Dashboard</a>
                {% endif %}

                <!-- CART -->
                <a href="{% url 'cart' %}" class="hover:text-red-300">
                    <span class="hidden md:inline-block">Cart ({{ cart_count }}) </span>
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <!-- <span class="bg-red-700 text-xs font-bold rounded-full p-1 absolute -top-4 -right-2 mr-4 mt-2">
                    <span id="cartCount" class="text-white">{{ cart_count }}</span>
                </span> -->
            </div>
        </div>
    </div>

    <!-- WHITE BACKGROUND -->
    <nav class="mb-4 bg-white active shadow border-gray-200 px-2 sm:px-4">
        <div class="md:mx-10">
            <div class="flex flex-wrap justify-between items-center">

                <div class="flex">
                    <!-- Logo Image -->

                    <a href="/">
                        <img src="{% static 'images/logo.PNG' %}" class="h-16 px-2 md:px-0 py-2" alt="Sips Solutions Logo">
                    </a>
                    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center ml-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100" aria-controls="navbar-default" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns=""><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    </button>
                    
                </div>

                
                <div class="flex">

                    <!-- LOGIN -->

                    <a href="{% url 'userpage' %}" class="lg:hidden pr-4"><i class="fa-solid fa-user"></i></a>

                    <!-- CART -->

                    <div class="lg:hidden hover:hover:text-red-400 relative pr-4">
                        <a href="#" class=""><i class="fa-solid fa-cart-shopping"></i></a>
                        
                        <!-- <span class="bg-red-700 text-xs font-bold rounded-full p-1 absolute -top-4 -right-3 mr-4 mt-2">
                            <span id= "cart-total" class="text-white">{{ cartItems }}</span>
                        </span> -->
                        
                    </div>
                </div>
                

                <!-- Search-Bar -->

                <form method="GET" action="{% url 'search' %}" class="sm:block lg:hidden w-full">   
                    {% csrf_token %}
                    <div class="relative">
                        <!-- <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                        </div> -->
                        <input name="keyword" type="text" id="default-search" class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Categories, Products...">
                        <button type="submit" class="m-2 inline-block text-white absolute right-2.5 bottom-2">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                        </button>

                    </div>
                </form>

                
                <!-- Search Bar -->
                <div class="hidden lg:block lg:basis-1/3 xl:basis-1/2 mt-4">
                    <form method="GET" action="{% url 'search' %}" class="mb-3">
                        {% csrf_token %}
                        <div class="input-group flex mb-4">
                            <input name="keyword" type="type" id="default-search" class="form-control w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon3">
                            <button type="submit" class="btn px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" type="button" id="button-addon3">Search</button>
                        </div>
                    </form>
                </div>

                

                <!-- NavList -->

                <div class="hidden lg:block lg:w-auto" id="navbar-default">
                    <ul class="flex flex-col mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                        
                        <li
                            {% if 'store/products/office' in request.path %}
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                            {% else %}
                            class = "block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                            {% endif %}
                            >
                            <a href="/store/products/office">OFFICE</a>
                        </li>
                        <li 
                            {% if 'store/products/outdoor' in request.path %}
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                            {% else %}
                            class = "block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                            {% endif %}
                        >
                            <a href="/store/products/outdoor">OUTDOOR</a>
                        </li>
                        <li 
                            {% if 'store/products/home' in request.path %}
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                            {% else %}
                            class = "block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                            {% endif %}
                        >
                            <a href="/store/products/home-decor">HOME DECOR</a>
                        </li>
                        <li 
                            {% if 'store/products/interior' in request.path %}
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                            {% else %}
                            class = "block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                            {% endif %}
                        >
                            <a href="/store/products/interior">INTERIOR</a>
                        </li>
                        <li 
                            {% if 'store/products/sofa' in request.path %}
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                            {% else %}
                            class = "block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                            {% endif %}
                        >
                            <a href="/store/products/sofa">SOFA</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>

<!-- <script type="text/javascript">
    const menuBtn = document.querySelector('#menu-btn');
    const dropdown = document.querySelector('#dropdown');

    menuBtn.addEventListener('click', () =>{
        dropdown.classList.toggle('hidden')
        dropdown.classList.toggle('flex')
    });
</script> -->