{% extends 'base.html' %}

{% load static %}

{% block title %} | Account Overview {% endblock %}

{% block content %}
<!-- USERPAGE -->
<section class="md:mx-24 py-2">
    <div class="md:flex md:space-x-4 md:space-y-0 space-y-4">
        <div class="md:w-1/4">
             {% include 'partials/_dashboard_sidebar.html' %}
        </div>

        <div class="bg-white shadow-md rounded-lg md:w-3/4">
            <h4 class="text-lg font-semibold px-5 uppercase">YOUR ORDERS</h4>
            <hr class="py-2">
            
            <div class="mx-2 py-3">
                <div class="">
                    <h2 class="px-2 my-2 font-semibold text-md border-b">Order History</h2>

                    <div class="flex border-b">
                        <p class="text-sm font-semibold w-2/5 text-center">Order #</p>
                        <p class="text-sm font-semibold w-1/5 text-center">Billing Name</p>
                        <p class="text-sm font-semibold w-1/5 text-center">Order Total</p>
                        <p class="text-sm font-semibold w-2/5 text-center">Date</p>
                    </div>

                    {% for order in orders %}
                    <div class="flex justify-content">
                        
                        <h2 class="text-sm font-semibold mt-8 w-2/5 text-center">{{order.order_number}}</h2>
    
                        <h4 class="text-sm font-semibold mt-8 w-1/5 text-center">{{order.full_name}}</h4>
                        <h4 class="text-sm font-semibold mt-8 w-1/5 text-center">{{order.order_total}}</h4>
                        <h4 class="text-sm font-semibold mt-8 w-2/5 text-center">{{order.created_at |date:'M-d-Y'}}</h4>
                    
                    </div>
                    {% endfor %}
                    
                </div>

            </div>
         </div>
    </div>
</section>
{% endblock %}