{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} | Welcome{% endblock %}

{% block content %}

<section class="md:mx-14">
    <!-- MAIN Corousel -->
    <section class="">
        <div class="lg:flex space-x-2 md:space-x-4 m-6">
            <!-- LEFT HANDSIDE -->
            <div class="lg:flex hidden lg:flex-col lg:w-1/3 space-y-2 bg-white px-4 py-2 rounded-lg shadow-md">
                <div class="flex space-x-2 border-b pb-1 hover:bg-gray-100">
                    <img src="{% static 'images/office.png'%}" alt="" width="20" height="16">
                    <a href="/store/products/office"><span class="mb-2 text-center text-xs tracking-tight text-gray-600 hover:text-blue-500 ">OFFICE FURNITURE</span></a>
                </div>
                <div class="flex space-x-2 border-b pb-1 hover:bg-gray-100">
                    <img src="{% static 'images/outdoor.png'%}" alt="" width="20" height="16">
                    <a href="/store/products/outdoor"><span class="mb-2 text-center text-xs tracking-tight text-gray-600 hover:text-blue-500 ">OUTDOOR FURNITURE</span></a>
                </div>
                <div class="flex space-x-2 border-b pb-1 hover:bg-gray-100">
                    <img src="{% static 'images/home.png'%}" alt="" width="20" height="16">
                    <a href="/store/products/home-decor"><span class="mb-2 text-center text-xs tracking-tight text-gray-600 hover:text-blue-500 ">HOME DECOR</span></a>
                </div>
                <div class="flex space-x-2 border-b pb-1 hover:bg-gray-100">
                    <img src="{% static 'images/interior.png'%}" alt="" width="20" height="16">
                    <a href="/store/products/games"><span class="mb-2 text-center text-xs tracking-tight text-gray-600 hover:text-blue-500 ">INTERIOR FURNITURE</span></a>
                </div>
                <div class="flex space-x-2 border-b pb-1 hover:bg-gray-100">
                    <img src="{% static 'images/sofa.png'%}" alt="" width="20" height="16">
                    <a href="/store/products/games"><span class="mb-2 text-center text-xs tracking-tight text-gray-600 hover:text-blue-500 ">RECLINER SOFA</span></a>
                </div>
            </div>

            <div id="controls-carousel" class="lg:w-4/5 hidden lg:block relative bg-white rounded-lg shadow-md" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-full overflow-hidden rounded-md">
                    <!-- Item 2 -->
                    <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20" data-carousel-item="active">
                        <img src="{% static 'images/slider 002.jpg'%}" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 3 -->
                    <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-full z-10" data-carousel-item="active">
                        <img src="{% static 'images/slider 003.jpg'%}" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 3 -->
                    <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-full z-10" data-carousel-item="active">
                        <img src="{% static 'images/slider 004.jpg'%}" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                </div>
                <!-- Slider controls -->
                <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev="">
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                        <svg aria-hidden="true" class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next="">
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                        <svg aria-hidden="true" class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

            <!-- RIGHT-HAND SIDE -->
            <div class="hidden lg:flex lg:flex-col lg:w-1/3 ">
                <div class="bg-white px-4 py-2 rounded-lg shadow-md space-y-2">
                    <div class="p-1 border-b pb-1 hover:bg-gray-100">
                        <a href="/contact/helpcenter"><i class="fa-solid fa-handshake-angle mx-2"></i><span class="mb-2 text-xs tracking-tight text-gray-600 hover:text-blue-500 ">HELP CENTER</span></a>
                    </div>
                    <div class="p-1 border-b pb-1 hover:bg-gray-100">
                        <a href="/contact/returnpolicy"><i class="fa-solid fa-rotate-left mx-2"></i></i><span class="mb-2 text-xs tracking-tight text-gray-600 hover:text-blue-500 ">RETURN POLICY</span></a>
                    </div>
                </div>
                <!-- AD LOCATION -->
                <div class="mt-2 group">
                    <a href="https://goo.gl/maps/LH4C9k5SpQ8BLHdx9" class="relative" target="_blank">
                        <img src="{% static 'images/Capture.PNG'%}" alt="" class="rounded-lg">
                        <img src="{% static 'images/google.png'%}" alt="" class="top-1 absolute h-24 w-24">

                        <h3 class="tracking-tight text-gray-600 invisible group-hover:visible absolute bottom-2 left-4" >Click To View Location</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Owl Corousel -->
    <section class="block lg:hidden ">
        <div class="mt-2 loop owl-carousel">
            <div class="item">
                <img class="object-cover rounded-lg w-96" src="{% static 'images/slider 002.jpg' %}" alt="T-Shirt">
            </div>
            <div class="item">
                <img class="object-cover rounded-lg w-96" src="{% static 'images/slider 003.jpg' %}" alt="T-Shirt">
            </div>
            <div class="item">
                <img class="object-cover rounded-lg w-96" src="{% static 'images/slider 004.jpg' %}" alt="T-Shirt">
            </div>
        </div>
    </section>

    <!-- Shop By Categories -->
    <!-- <section>
        <div class="container mx-auto my-2 font-semibold">
            <h3 class=" underline underline-offset-8 font-bold font-mono text-2xl">Shop By Categories</h3>
    </section> -->


    <!-- FLASH SALES -->
    <section class="container mx-auto md:px-2">
        <div class="m-2 rounded-lg h-80 bg-white shadow-md h-72">
            <div class="flex justify-between py-2 bg-blue-400 rounded-t-lg shadow-md">
                <h1 class="sm:text-sm md:text-xl pl-6">Flash Sales</h1>
                <a href="{% url 'flashSales' %}"><h1 class="sm:text-sm md:text-xl pr-6">View All</h1></a>
            </div>
            <div class="mt-4 px-2 grid grid-cols-6 owl-carousel owl-carous">
                {% if flash_sales %}
                    {% for product in flash_sales %}
                <div class="item mb-3">
                    <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                        <a href="/store/product/{{product.slug}}"><img class="relative object-cover w-40 h-40 rounded-md" src="{{ product.photo_main.url }}" alt="T-Shirt"></a>
                        {% if product.free_delivery %}
                            <span class="absolute top-1 right-1 bg-orange-500 text-gray-800 text-xs inline-flex items-center px-2 py-0.5 rounded mr-2">
                                Free Delivery in NBI
                            </span>
                        {% endif %}
                        <h4 class="text-xs text-gray-600 hover:underline">{{ product.product_name | truncatechars:35 }}</h4>
                        <h4 class="text-sm font-medium text-gray-600">KSH.{{ product.price | intcomma }}</h4>
                        <div>
                            <span class="line-through text-xs text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                        
                        </div>
                        
                    </div>
                </div>
                {% endfor%} 
                {% else %}
                    <div class="container mx-auto">
                        <p>No Products Available</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- IN STORE OFFERS -->
    <section class="container mx-auto my-5 md:px-2">
        <div class="m-2 rounded-lg h-80 bg-white shadow-md h-72">
            <div class="flex justify-between py-2 bg-blue-400 rounded-t-lg shadow-md">
                <h1 class="sm:text-sm md:text-xl pl-6">In Store Offers</h1>
                <a href="{% url 'inStoreOffers'%}"><h1 class="sm:text-sm md:text-xl pr-6">View All</h1></a>
            </div>
            <div class="mt-4 px-2 grid grid-cols-6 owl-carousel owl-carous">
                {% if in_store_offers %}
                    {% for product in in_store_offers %}
                <div class="item mb-3">
                    <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                        <a href="/store/product/{{product.slug}}"><img class="relative object-cover w-40 h-40 rounded-md" src="{{ product.photo_main.url }}" alt="T-Shirt"></a>
                        {% if product.free_delivery %}
                            <span class="absolute top-1 right- bg-orange-500 text-gray-800 text-xs inline-flex items-center px-2 py-0.5 rounded mr-2">
                                Free Delivery in NBI
                            </span>
                        {% endif %}
                        <h4 class="text-xs text-gray-600 hover:underline">{{ product.product_name | truncatechars:35 }}</h4>
                        <h4 class="text-sm font-medium text-gray-600">KSH.{{ product.price | intcomma }}</h4>
                        <div>
                            <span class="line-through text-xs text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                        
                        </div>
                        
                    </div>
                </div>
                {% endfor%} 
                {% else %}
                    <div class="container mx-auto">
                        <p>No Products Available</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="container hidden md:block mx-auto">
        <div class="py-2 px-4 mt-4">
            
            <img src="{% static 'images/m2.jpg' %}" class="rounded-lg w-full h-96" alt="">
            
        </div>
    </section>

    <!-- OFFICE Header-->
    <section class="container mx-auto md:px-4">
        <div class="container mx-auto p-6 mt-2 flex justify-between font-semibold">
            <div class="flex">
                <h3 class=" underline underline-offset-8 font-bold font-mono text-2xl">OFFICE FURNITURE</h3>
            </div>
            <div class="flex">
                <a href="/store/products/office" class="hover:text-blue-500"><p>View All  
                    <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></p>
                </a>
            </div>
        </div>
        <hr class="">
    </section>
    <!-- OFFICE Owl Corousel -->
    <section class="container mx-auto px-4">
        <div class="owl-carousel owl-carousel1 owl-theme grid grid-cols-1 mt-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 bg-white shadow-md rounded-lg p-2 h-72">
            {% if women %}
            {% for product in women %}
            <a href="/store/product/{{product.slug}}">
            <div class="item mb-3">
                <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                    <img class="relative object-cover w-full rounded-md h-44 lg:h-48" src="{{ product.photo_main.url }}" alt="T-Shirt">
                    {% if product.free_delivery %}
                        <span class="absolute top-1 right-1 bg-orange-500 text-gray-800 text-xs font-medium inline-flex items-center px-2 py-0.5 rounded mr-2">
                            Free Delivery in NBI
                        </span>
                    {% endif %}
                    <h4 class="text-xs text-gray-700 hover:underline">{{ product.product_name | truncatechars:25 }}</h4>
                    <h4 class="text-md font-medium text-black text-gray-600 hover:underline">KSH.{{ product.price | intcomma }}</h4>
                    <div class="">
                        <span class="line-through  text-xs text-gray-400 text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                        <span class="text-xs bg-red-100 p-0.5 rounded">{{ product.get_discount_percentage }}%</span>
                    </div>
                </div>
            </div>
            </a>
            {% endfor%} 
            {% else %}
                <div class="container mx-auto">
                    <p>No Products Available</p>
                </div>
            {% endif %}
        </div>
    </section>


    <!-- OUTDOOR HEADER -->
    <section class="px-4">
        <div class="container mx-auto p-6 flex justify-between font-semibold">
            <div class="flex">
                <h3 class=" underline underline-offset-8 font-bold font-mono text-2xl">OUTDOOR FURNITURE</h3>
            </div>
            <div class="flex">
                <a href="/store/products/outdoor" class="hover:text-blue-500"><p>View All  
                    <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></p>
                </a>
            </div>
        </div>
        <hr class="">
    </section>
    <!-- OUTDOOR Owl Corousel -->
    <section class="container mx-auto mt-2 px-4">
        <div class="owl-carousel owl-carousel1 owl-theme grid grid-cols-1 mt-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 bg-white shadow-md rounded-lg p-2 h-72">
            {% if men %}
            {% for product in men %}
            <a href="/store/product/{{product.slug}}">
                <div class="item mb-3">
                    <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                        <img class="relative object-cover w-full rounded-md h-44 lg:h-48" src="{{ product.photo_main.url }}" alt="T-Shirt">
                        {% if product.free_delivery %}
                        <span class="absolute top-1 left-1 bg-orange-500 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2">
                        
                        Free Delivery in NBI
                    </span>
                    {% endif %}
                        <h4 class="text-xs text-gray-700 hover:underline">{{ product.product_name| truncatechars:25 }}</h4>
                        <h4 class="text-md font-medium text-black text-gray-600 hover:underline">KSH.{{ product.price | intcomma }}</h4>
                        <div class="">
                            <span class="line-through text-xs text-gray-400 text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                            <span class="text-xs bg-red-100 p-0.5 rounded">{{ product.get_discount_percentage }}%</span>
                        </div>
                        
                    </div>
                </div>
            </a>
            {% endfor%} 
            {% else %}
                <div class="container mx-auto">
                    <p>No Products Available</p>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- MARKETING NEW_PRODUCT -->
    {% if marketing_on_offers %}
    <section class="mb-4 container mx-auto px-4">
        <div class="h-10 mt-3 bg-blue-400 rounded-t-lg shadow-md">
            <h5 class="py-2 text-lg text-center font-bold tracking-tight text-gray-900">
                DEALS OF TODAY
            </h5>
        </div>
        <div class="owl-carousel p-2 topSales grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 bg-white rounded-b-lg shadow-md">
            {% for marketing_on_offer in marketing_on_offers %}
            <a href="">
                <img src="{{ marketing_on_offer.image.url }}" class="rounded-lg hover:translate-x-0.5" alt="">
            </a>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    <!-- Most Viewed -->
    <section class="container mx-auto mt-4 md:px-2">
        <div class="m-2 rounded-lg h-80 bg-white shadow-md h-72">
            <div class="flex justify-between py-2 bg-blue-400 rounded-t-lg shadow-md">
                <h1 class="sm:text-sm md:text-xl pl-6">Most Viewed</h1>
                <a href="{% url 'mostViewed' %}"><h1 class="sm:text-sm md:text-xl pr-6">View All</h1></a>
            </div>
            <div class="mt-4 px-2 grid grid-cols-6 owl-carousel owl-carous">
                {% if most_viewed %}
                    {% for product in most_viewed %}
                <div class="item mb-3">
                    <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                        <a href="/store/product/{{product.slug}}"><img class="relative object-cover w-40 h-40 rounded-md" src="{{ product.photo_main.url }}" alt="T-Shirt"></a>
                        {% if product.free_delivery %}
                            <span class="absolute top-1 right- bg-orange-500 text-gray-800 text-xs inline-flex items-center px-2 py-0.5 rounded mr-2">
                                Free Delivery in NBI
                            </span>
                        {% endif %}
                        <h4 class="text-xs text-gray-600 hover:underline">{{ product.product_name | truncatechars:35 }}</h4>
                        <h4 class="text-sm font-medium text-gray-600">KSH.{{ product.price | intcomma }}</h4>
                        <div>
                            <span class="line-through text-xs text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                        
                        </div>
                        
                    </div>
                </div>
                {% endfor%} 
                {% else %}
                    <div class="container mx-auto">
                        <p>No Products Available</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- New Arrival-->
    <section class="container mx-auto mt-4 md:px-2">
        <div class="m-2 rounded-lg h-80 bg-white shadow-md h-72">
            <div class="flex justify-between py-2 bg-blue-400 rounded-t-lg shadow-md">
                <h1 class="sm:text-sm md:text-xl pl-6">New Arrival</h1>
                <a href="{% url 'arrival' %}"><h1 class="sm:text-sm md:text-xl pr-6">View All</h1></a>
            </div>
            <div class="mt-4 px-2 grid grid-cols-6 owl-carousel owl-carous">
                {% if new_arrival %}
                    {% for product in new_arrival %}
                <div class="item mb-3">
                    <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                        <a href="/store/product/{{product.slug}}"><img class="relative object-cover w-40 h-40 rounded-md" src="{{ product.photo_main.url }}" alt="T-Shirt"></a>
                        {% if product.free_delivery %}
                            <span class="absolute top-1 right- bg-orange-500 text-gray-800 text-xs inline-flex items-center px-2 py-0.5 rounded mr-2">
                                Free Delivery in NBI
                            </span>
                        {% endif %}
                        <h4 class="text-xs text-gray-600 hover:underline">{{ product.product_name | truncatechars:35 }}</h4>
                        <h4 class="text-sm font-medium text-gray-600">KSH.{{ product.price | intcomma }}</h4>
                        <div>
                            <span class="line-through text-xs text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                        
                        </div>
                        
                    </div>
                </div>
                {% endfor%} 
                {% else %}
                    <div class="container mx-auto">
                        <p>No Products Available</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    

    <section class="container mx-auto hover:translate-x-0.5">
        <a href="{% url 'newArrival' %}">
            <img src="{% static 'images/m3.png' %}" class="rounded-lg my-4" alt="">
        </a>
    </section>
  
    <!-- HOME DECOR HEADER -->
    <section class="px-4">
        <div class="container mx-auto p-6 flex justify-between font-semibold">
            <div class="flex">
                <h3 class=" underline underline-offset-8 font-bold font-mono text-2xl">HOME DECOR</h3>
            </div>
            <div class="flex">
                <a href="/store/products/home-decor" class="hover:text-blue-500"><p>View All  
                    <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></p>
                </a>
            </div>
        </div>
        <hr class="">
    </section>

    <!-- HOME DECOR Owl Corousel -->
    <section class="container mx-auto mt-2 px-4">
        <div class="owl-carousel owl-carousel1 owl-theme grid grid-cols-1 mt-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 bg-white shadow-md rounded-lg p-2">
            {% if kids %}
            {% for product in kids %}
            <a href="/store/product/{{product.slug}}">
                <div class="item mb-3">
                    <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                        <img class="object-cover w-full rounded-md h-44 lg:h-48" src="{{ product.photo_main.url }}" alt="T-Shirt">

                        {% if product.free_delivery %}
                        <span class="absolute top-1 left- bg-orange-500 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2">
                        
                        Free Delivery in NBI
                    </span>
                    {% endif %}
                        <h4 class="text-xs text-gray-700 hover:underline">{{ product.product_name| truncatechars:25 }}</h4>
                        <h4 class="text-md font-medium text-black text-gray-600 hover:underline">KSH.{{ product.price | intcomma }}</h4>
                        <div class="">
                            <span class="line-through text-xs text-gray-400 text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                            <span class="text-xs bg-red-100 p-0.5 rounded">{{ product.get_discount_percentage }}%</span>
                        </div>
                        
                        
                    </div>
                </div>
            </a>
            {% endfor%} 
            {% else %}
                <div class="container mx-auto">
                    <p>No Products Available</p>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- INTERIOR-->
    <section class="px-4">
        <div class="container mx-auto p-6 flex justify-between font-semibold">
            <div class="flex">
                <h3 class=" underline underline-offset-8 font-bold font-mono text-2xl">INTERIOR FURNITURE</h3>
            </div>
            <div class="flex">
                <a href="/store/products/games" class="hover:text-blue-500"><p>View All  
                    <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></p>
                </a>
            </div>
        </div>
        <hr class="">
    </section>
    <!-- INTERIOR Owl Corousel -->
    <section class="container mx-auto mt-2 px-4">
        <div class="owl-carousel owl-carousel1 owl-theme grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 bg-white shadow-md rounded-lg p-2">
            {% if baby %}
            {% for product in baby %}
            <a href="/store/product/{{product.slug}}">
            <div class="item mb-3">
                <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                    <img class="object-cover w-full rounded-md h-44 lg:h-48" src="{{ product.photo_main.url }}" alt="T-Shirt">

                    {% if product.free_delivery %}
                    <span class="absolute top-1 left- bg-orange-500 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2">
                    
                    Free Delivery in NBI
                    </span>
                    {% endif %}
                    <h4 class="text-xs text-gray-700 hover:underline">{{ product.product_name| truncatechars:25 }}</h4>
                    <h4 class="font-medium text-black text-gray-600 hover:underline">KSH.{{ product.price | intcomma }}</h4>
                    <div class="">
                        
                        <span class="line-through text-xs text-gray-400 text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                        <span class="text-xs bg-red-100 p-0.5 rounded">{{ product.get_discount_percentage }}%</span>
                    </div>
                </div>
            </div>
            </a>
            {% endfor%} 
            {% else %}
                <div class="container mx-auto">
                    <p>No Products Available</p>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- SOFA-->
    <section class="px-4">
        <div class="container mx-auto p-6 flex justify-between font-semibold">
            <div class="flex">
                <h3 class=" underline underline-offset-8 font-bold font-mono text-2xl">RECLINER SOFA</h3>
            </div>
            <div class="flex">
                <a href="/store/products/sofa" class="hover:text-blue-500"><p>View All  
                    <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></p>
                </a>
            </div>
        </div>
        <hr class="">
    </section>
    <!-- SOFA Owl Corousel -->
    <section class="container mx-auto mt-2 px-4">
        <div class="owl-carousel owl-carousel1 owl-theme grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 bg-white shadow-md rounded-lg p-2">
            {% if sofa %}
            {% for product in sofa %}
            <a href="/store/product/{{product.slug}}">
            <div class="item mb-3">
                <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                    <img class="object-cover w-full rounded-md h-44 lg:h-48" src="{{ product.photo_main.url }}" alt="T-Shirt">

                    {% if product.free_delivery %}
                    <span class="absolute top-1 left- bg-orange-500 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2">
                    
                    Free Delivery in NBI
                    </span>
                    {% endif %}
                    <h4 class="text-xs text-gray-700 hover:underline">{{ product.product_name| truncatechars:25 }}</h4>
                    <h4 class="font-medium text-black text-gray-600 hover:underline">KSH.{{ product.price | intcomma }}</h4>
                    <div class="">
                        
                        <span class="line-through text-xs text-gray-400 text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                        <span class="text-xs bg-red-100 p-0.5 rounded">{{ product.get_discount_percentage }}%</span>
                    </div>
                </div>
            </div>
            </a>
            {% endfor%} 
            {% else %}
                <div class="container mx-auto">
                    <p>No Products Available</p>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- Color Your World -->
    <section class="container mx-auto mt-4 md:px-2">
        <div class="m-2 rounded-lg h-80 bg-white shadow-md h-72">
            <div class="flex justify-between py-2 bg-blue-400 rounded-t-lg shadow-md">
                <h1 class="sm:text-sm md:text-xl pl-6">Color Your World</h1>
                <a href="{% url 'colorYourWorld' %}"><h1 class="sm:text-sm md:text-xl pr-6">View All</h1></a>
            </div>
            <div class="mt-4 px-2 grid grid-cols-6 owl-carousel owl-carous">
                {% if color_your_world %}
                    {% for product in color_your_world %}
                <div class="item mb-3">
                    <div class="flex flex-col justify-center hover:translate-x-0.5 hover:shadow-2xl">
                        <a href="/store/product/{{product.slug}}"><img class="relative object-cover w-40 h-40 rounded-md" src="{{ product.photo_main.url }}" alt="T-Shirt"></a>
                        {% if product.free_delivery %}
                            <span class="absolute top-1 right- bg-orange-500 text-gray-800 text-xs inline-flex items-center px-2 py-0.5 rounded mr-2">
                                Free Delivery in NBI
                            </span>
                        {% endif %}
                        <h4 class="text-xs text-gray-600 hover:underline">{{ product.product_name | truncatechars:35 }}</h4>
                        <h4 class="text-sm font-medium text-gray-600">KSH.{{ product.price | intcomma }}</h4>
                        <div>
                            <span class="line-through text-xs text-gray-600">KSH.{{ product.discount_price | intcomma }}</span>
                        
                        </div>
                        
                    </div>
                </div>
                {% endfor%} 
                {% else %}
                    <div class="container mx-auto">
                        <p>No Products Available</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- MARKETING ON_OFFER-->
    {% if marketing_new_products %}
    <section class="container mx-auto px-4">
        <div class="md:flex bg-white shadow-md rounded-md p-2 space-x-6 mt-4">
            {% for marketing_new_product in marketing_new_products %}
                <a href="">
                    <img src="{{ marketing_new_product.image.url }}" class="rounded-lg hover:translate-x-0.5" alt="">
                </a>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    <!-- Blog -->
    <div class="px-4">
        <section class="bg-white mt-2 shadow-md rounded-lg px-2">
            <div class="container py-10 mx-auto">
                <h1 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl">explore our <br> awesome <span class="text-blue-500">Blogs</span></h1>
                
                
                <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">

                    {% for post in posts %}
                    <div class="flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl">
                        <span class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                            </svg>
                        </span>

                        <h1 class="text-2xl font-semibold text-gray-700 capitalize">{{post.title}}</h1>

                        <p class="text-gray-500">
                            {{post.blog_intro | truncatechars:100}}
                        </p>

                        <a href="/blog/singleblog/{{post.slug}}" class="flex items-center -mx-1 text-sm text-blue-500 capitalize transition-colors duration-200 transform hover:underline hover:text-blue-600">
                            <span class="mx-1">read more</span>
                            <svg class="w-4 h-4 mx-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock %}