{"Body":
     {"stkCallback":{
          "MerchantRequestID":"7389-8762097-1",
          "CheckoutRequestID":"ws_CO_17102022100427396704662432",
          "ResultCode":0,
          "ResultDesc":"The service request is processed successfully.",
          "CallbackMetadata":{
               "Item":[
                    {"Name":"Amount","Value":1.00},
                    {"Name":"MpesaReceiptNumber","Value":"QJH82JV6JG"},
                    {"Name":"TransactionDate","Value":20221017100445},
                    {"Name":"PhoneNumber","Value":254704662432}]}}}} 
  

{'MerchantRequestID': '18553-10423164-1', 
'CheckoutRequestID': 'ws_CO_17102022114505617704662432', 
'ResultCode': 0, 
'ResultDesc': 'The service request is processed successfully.',
'CallbackMetadata': {'Item': [
     {'Name': 'Amount', 'Value': 1.0}, 
     {'Name': 'MpesaReceiptNumber', 'Value': 'QJH62RA3DG'}, 
     {'Name': 'TransactionDate', 'Value': 20221017114520}, 
     {'Name': 'PhoneNumber', 'Value': 254704662432}]}}